.content-tool-list[data-v-eec4588a] {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}
.content-tool-list > div[data-v-eec4588a] {
  width: calc((100% - 45px) / 4);
  height: calc((100vh - 145px) / 2);
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(60, 114, 139, 0.03);
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;
  will-change: transform;
  transform: translateZ(0);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: 1px solid #fff;
  align-items: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
}
.content-tool-list > div img[data-v-eec4588a] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* 关键：保持比例填充 */
  -o-object-position: center;
     object-position: center;
  /* 智能居中裁剪 */
  transition: transform 1s ease;
  /* 悬停动效 */
}
.content-tool-list > div .tool-bot[data-v-eec4588a] {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}
.content-tool-list > div .tool-bot > div[data-v-eec4588a]:nth-child(1) {
  font-weight: 500;
  font-size: 14px;
}
.content-tool-list > div .tool-bot .word-key[data-v-eec4588a] {
  align-items: center;
}
.content-tool-list > div[data-v-eec4588a]:nth-child(4n) {
  margin-right: 0;
}
@media screen and (max-width: 751px) {
.content-tool-list > div[data-v-eec4588a] {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}
.content-tool-list > div .tool-top[data-v-eec4588a] {
    height: 620px;
}
.content-tool-list > div .tool-bot[data-v-eec4588a] {
    padding: 10px;
}
.content-tool-list > div .tool-bot > div[data-v-eec4588a]:nth-child(1) {
    font-size: 14px;
}
}

.content-page[data-v-f5862796] {
  justify-content: center;
}

