.conent .module[data-v-a4e6c264] {
  flex-wrap: wrap;
}
.conent .module .module-content[data-v-a4e6c264] {
  width: calc((100% - 45px) / 4);
  height: calc((100vh - 45px) / 2);
  padding: 35px 25px;
  background-color: hsla(0, 0%, 100%, 0.6);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(60, 114, 139, 0.03);
  transition: all 0.2s ease;
  cursor: pointer;
  will-change: transform;
  transform: translateZ(0);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: 1px solid #fff;
  margin: 0 15px 15px 0;
  position: relative;
}
.conent .module .module-content .module-content-top[data-v-a4e6c264] {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.conent .module .module-content .module-content-top img[data-v-a4e6c264] {
  width: 65px;
}
.conent .module .module-content .module-content-top .count-up-span[data-v-a4e6c264] {
  font-size: 45px;
  font-weight: bold;
}
.conent .module .module-content .module-content-bot[data-v-a4e6c264] {
  padding-left: 15px;
  height: calc(100% - 87.5px);
}
.conent .module .module-content .module-content-bot > div[data-v-a4e6c264]:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.conent .module .module-content .module-content-bot > div[data-v-a4e6c264]:nth-child(2) {
  height: calc(100% - 34px);
  line-height: 30px;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  /* 控制显示行数 */
  line-height: 1.5;
  /* 根据行高调整行数 */
  word-break: break-all;
  /* 强制长单词换行 */
  text-overflow: ellipsis;
}
.conent .module .module-content .module-content-button[data-v-a4e6c264] {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 20px;
  padding-right: 20px;
  justify-content: flex-end;
}
.conent .module .module-content .module-content-button > div[data-v-a4e6c264] {
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  background: linear-gradient(180deg, #3bc0ac 0%, #12867f 100%);
  box-shadow: 0px 0px 6px rgba(0, 120, 113, 0.2);
}
.conent .module .module-content[data-v-a4e6c264]:nth-child(4n) {
  margin-right: 0;
}
.conent .module .module-content[data-v-a4e6c264]:nth-child(5),
.conent .module .module-content[data-v-a4e6c264]:nth-child(6),
.conent .module .module-content[data-v-a4e6c264]:nth-child(7),
.conent .module .module-content[data-v-a4e6c264]:nth-child(8) {
  margin-bottom: 0;
}

