.conent[data-v-effb4840] {
  width: 100%;
  height: 100%;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}
.conent .refresh[data-v-effb4840] {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: rgba(0, 153, 229, 0.7);
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  z-index: 999;
  right: 10px;
  top: 10px;
}
.conent .soul[data-v-effb4840] {
  width: calc((100% - 45px) / 4);
  height: calc((100% - 15px) / 2);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(60, 114, 139, 0.03);
  transition: all 0.2s ease;
  cursor: pointer;
  will-change: transform;
  transform: translateZ(0);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: 1px solid #fff;
  align-items: center;
  position: relative;
}
.conent .soul .soul-img[data-v-effb4840] {
  width: 100%;
  height: calc(100% - 80px);
  position: relative;
  overflow: hidden;
}
.conent .soul .soul-img img[data-v-effb4840] {
  transform: translateZ(0);
  will-change: transform;
  width: 100%;
  height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: transform 1s ease;
}
.conent .soul .soul-cent[data-v-effb4840] {
  height: 80px;
  font-size: 12px;
  padding: 0px 15px;
}
.conent .soul .soul-cent .soul-top[data-v-effb4840] {
  height: 100%;
  line-height: 2;
  text-indent: 2em;
}
.conent .soul .soul-cent .soul-bot[data-v-effb4840] {
  width: 100%;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 25px;
  padding-bottom: 5px;
}
.conent > .soul[data-v-effb4840]:nth-child(4n) {
  margin-right: 0;
}
@media screen and (max-width: 751px) {
.conent-true[data-v-effb4840] {
    height: auto;
}
.conent-true .soul[data-v-effb4840] {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 0.1rem 0; /*origin: 0 0 10px 0*/
}
.conent-true .soul .soul-img[data-v-effb4840] {
    height: calc(100% - 0.8rem); /*origin: calc(100% - 80px)*/
}
.conent-true .soul .soul-cent[data-v-effb4840] {
    height: 2.5rem; /*origin: 250px*/;
    font-size: 0.12rem; /*origin: 12px*/;
    padding: 0rem 0.15rem; /*origin: 0px 15px*/
}
.conent-true .soul .soul-cent .soul-bot[data-v-effb4840] {
    padding-right: 0.25rem; /*origin: 25px*/;
    padding-bottom: 0.05rem; /*origin: 5px*/
}
}

