.info-detail[data-v-539bfc6a] {
  padding: 15px 0;
}
.info-detail .info-detail-content[data-v-539bfc6a] {
  width: 1000px;
  min-height: calc(100vh - 30px);
  margin: 0 auto;
  border-radius: 4px;
  padding: 30px;
  box-shadow: 0px 10px 24px 0 rgba(111, 162, 226, 0.06);
}
.info-detail .info-detail-content .info-title[data-v-539bfc6a] {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
.info-detail .info-detail-content[data-v-539bfc6a] .info-views {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}
.info-detail .info-detail-content[data-v-539bfc6a] .info-views .content-text {
  line-height: 50px;
}
.info-detail .info-detail-content[data-v-539bfc6a] .info-views .text-hr {
  width: 100%;
  margin: 30px 0;
}
.info-detail .info-detail-content[data-v-539bfc6a] .info-views .code-block {
  overflow-x: auto;
  /* 横向滚动条（长代码适用） */
  margin: -20px auto;
  position: relative;
}
.info-detail .info-detail-content[data-v-539bfc6a] .info-views .code-block code {
  border-radius: 4px;
  margin-bottom: -50px;
}
.info-detail .info-detail-content[data-v-539bfc6a] .info-views .code-block .copy-code {
  position: absolute;
  right: 10px;
  top: 40px;
  z-index: 999;
  cursor: pointer;
  width: 50px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 4px;
  background-color: #ededed;
  color: #333333;
}
.info-detail .info-detail-content[data-v-539bfc6a] .info-views img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}
.info-detail .info-detail-content[data-v-539bfc6a] .info-views .toolTable tr th {
  border: 1px solid #ccc;
}
.info-detail .info-detail-content[data-v-539bfc6a] .info-views .toolTable tr > td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #ccc;
  border-top: 0;
}
.info-detail .info-detail-content[data-v-539bfc6a] .info-views .toolTable tr > td:first-child {
  border-right: 0;
  font-weight: bold;
  text-align: center;
}
.info-detail-true[data-v-539bfc6a] {
  padding: 0;
}
.info-detail-true .info-detail-content[data-v-539bfc6a] {
  width: 100%;
  padding: 20px;
}
.info-detail-true .info-detail-content .info-title[data-v-539bfc6a] {
  font-size: 22px;
}
.info-detail-true .info-detail-content .info-views .content-text[data-v-539bfc6a] {
  line-height: 30px;
}
*[data-v-539bfc6a] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex[data-v-539bfc6a] {
  display: flex;
}
body[data-v-539bfc6a] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-size: 14px !important;
}
/* 定义滚动条的宽度 */
[data-v-539bfc6a]::-webkit-scrollbar {
  width: 2px;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  /* 添加过渡动画 */
}
/* 悬停时滚动条容器变宽 */
[data-v-539bfc6a]::-webkit-scrollbar:hover {
  width: 8px !important;
  /* 强制覆盖默认值 */
}
/* 滚动条轨道的颜色 */
[data-v-539bfc6a]::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
  /* 添加圆角避免宽度突变生硬 */
}
/* 滚动条的颜色 */
[data-v-539bfc6a]::-webkit-scrollbar-thumb {
  background: #888;
  border: 2px solid transparent;
  /* 预留透明边框 */
  background-clip: padding-box;
  /* 限制背景绘制区域 */
  -webkit-transition: background 0.3s, border 0.3s;
  transition: background 0.3s, border 0.3s;
}
body[data-v-539bfc6a]::-webkit-scrollbar-thumb {
  background-color: red;
}
/* 滚动条悬停时的颜色 */
[data-v-539bfc6a]::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-color: #f1f1f1;
  /* 轨道颜色作为边框色实现平滑过渡 */
}
@font-face {
  font-family: myFont;
  src: url("../assets/Vladimir%20Script.c3285673.ttf");
}
.m-l-5[data-v-539bfc6a] {
  margin-left: 5px;
}
.m-l-10[data-v-539bfc6a] {
  margin-left: 10px;
}
.m-l-15[data-v-539bfc6a] {
  margin-left: 15px;
}
.m-l-20[data-v-539bfc6a] {
  margin-left: 20px;
}
.m-r-5[data-v-539bfc6a] {
  margin-right: 5px;
}
.m-r-10[data-v-539bfc6a] {
  margin-right: 10px;
}
.m-r-15[data-v-539bfc6a] {
  margin-right: 15px;
}
.m-r-20[data-v-539bfc6a] {
  margin-right: 20px;
}
.m-t-5[data-v-539bfc6a] {
  margin-top: 5px;
}
.m-t-10[data-v-539bfc6a] {
  margin-top: 10px;
}
.m-t-15[data-v-539bfc6a] {
  margin-top: 15px;
}
.m-t-20[data-v-539bfc6a] {
  margin-top: 20px;
}
.m-b-5[data-v-539bfc6a] {
  margin-bottom: 5px;
}
.m-b-10[data-v-539bfc6a] {
  margin-bottom: 10px;
}
.m-b-15[data-v-539bfc6a] {
  margin-bottom: 15px;
}
.m-b-20[data-v-539bfc6a] {
  margin-bottom: 20px;
}
.p-r-5[data-v-539bfc6a] {
  padding-right: 5px;
}
.p-r-10[data-v-539bfc6a] {
  padding-right: 10px;
}
.p-r-15[data-v-539bfc6a] {
  padding-right: 15px;
}
.p-r-20[data-v-539bfc6a] {
  padding-right: 20px;
}
.p-l-5[data-v-539bfc6a] {
  padding-left: 5px;
}
.p-l-10[data-v-539bfc6a] {
  padding-left: 10px;
}
.p-l-15[data-v-539bfc6a] {
  padding-left: 15px;
}
.p-l-20[data-v-539bfc6a] {
  padding-left: 20px;
}
.p-t-5[data-v-539bfc6a] {
  padding-top: 5px;
}
.p-t-10[data-v-539bfc6a] {
  padding-top: 10px;
}
.p-t-15[data-v-539bfc6a] {
  padding-top: 15px;
}
.p-t-20[data-v-539bfc6a] {
  padding-top: 20px;
}
.p-b-5[data-v-539bfc6a] {
  padding-bottom: 5px;
}
.p-b-10[data-v-539bfc6a] {
  padding-bottom: 10px;
}
.p-b-15[data-v-539bfc6a] {
  padding-bottom: 15px;
}
.p-b-20[data-v-539bfc6a] {
  padding-bottom: 20px;
}
.theme-highlight .home-page-left[data-v-539bfc6a] {
  color: #515a6e !important;
  background-image: linear-gradient(to bottom right, #f1f4ff, #f2edf7) !important;
  border-right: 2px solid rgba(255, 255, 255, 0.6);
}
.theme-highlight .home-page-left .home-page-left-list .active[data-v-539bfc6a] {
  color: #515a6e !important;
}
.theme-highlight .home-page-left .home-page-left-list > .flex[data-v-539bfc6a]:hover {
  color: #515a6e !important;
}
.theme-highlight .home-page-right[data-v-539bfc6a] {
  color: #515a6e !important;
  background-image: linear-gradient(to bottom right, #f1f4ff, #f2edf7) !important;
}
.theme-highlight .home-page-right .conent[data-v-539bfc6a] {
  color: #515a6e !important;
}
.theme-highlight .home-page-right .conent .text-color[data-v-539bfc6a] {
  color: #515a6e !important;
}
.theme-highlight .home-page-right .conent .ivu-input[data-v-539bfc6a] {
  background-color: hsla(0, 0%, 100%, 0.6) !important;
}
.theme-highlight .home-page-right .tool-left[data-v-539bfc6a] {
  background: linear-gradient(135deg, rgba(255, 107, 107, 0.35), rgba(78, 205, 196, 0.35));
}
.theme-highlight .home-page-right .content-back-color[data-v-539bfc6a] {
  background-color: hsla(0, 0%, 100%, 0.6) !important;
  border: 1px solid #ffffff !important;
}
.theme-highlight .ivu-switch-inner[data-v-539bfc6a] {
  color: #515a6e !important;
}
.theme-highlight .content-back-color[data-v-539bfc6a] {
  color: #515a6e;
  background-image: linear-gradient(to bottom right, #f1f4ff, #f2edf7) !important;
  border: 1px solid dddddd !important;
}
.theme-highlight .info-detail-content[data-v-539bfc6a] {
  border: 1px solid #dddddd;
}
.theme-highlight .text-hr[data-v-539bfc6a] {
  border-top: 1px solid #dddddd;
}
.theme-dark .home-page-left[data-v-539bfc6a] {
  color: #ffffff !important;
  background-image: linear-gradient(to bottom right, #141e30, #243b55) !important;
  border-right: 2px solid rgba(255, 255, 255, 0.6);
}
.theme-dark .home-page-left .home-page-left-list .active[data-v-539bfc6a] {
  color: #515a6e !important;
}
.theme-dark .home-page-left .home-page-left-list > .flex[data-v-539bfc6a]:hover {
  color: #515a6e !important;
}
.theme-dark .home-page-right[data-v-539bfc6a] {
  color: #ffffff !important;
  background-image: linear-gradient(to bottom right, #141e30, #243b55) !important;
}
.theme-dark .home-page-right .conent[data-v-539bfc6a] {
  color: #ffffff !important;
}
.theme-dark .home-page-right .conent .text-color[data-v-539bfc6a] {
  color: #ffffff !important;
}
.theme-dark .home-page-right .conent .ivu-input[data-v-539bfc6a] {
  background-color: rgba(49, 61, 82, 0.32) !important;
}
.theme-dark .home-page-right .tool-left[data-v-539bfc6a] {
  background: linear-gradient(135deg, #3494e6, #ec6ead);
}
.theme-dark .home-page-right .content-back-color[data-v-539bfc6a] {
  background-color: rgba(49, 61, 82, 0.32) !important;
  border: 1px solid #ffffff29 !important;
}
.theme-dark .ivu-switch-inner[data-v-539bfc6a] {
  color: #ffffff !important;
}
.theme-dark .content-back-color[data-v-539bfc6a] {
  color: #ffffff;
  background-image: linear-gradient(to bottom right, #141e30, #243b55) !important;
  border: 0 !important;
}
.theme-dark .info-detail-content[data-v-539bfc6a] {
  border: 0;
  box-shadow: 0px 0px 24px 0 #ffffff;
}
.theme-dark .text-hr[data-v-539bfc6a] {
  border-top: 1px solid #ffffff;
}

