.fixed-top > .menu[data-v-a4a93748] {
  display: block;
  width: calc(100% - 220px);
  animation: expandHeight 5s forwards;
  /* 持续5秒，保留最终状态 */
  position: fixed;
  right: 0;
  top: 0;
  padding: 0 15px;
  align-items: center;
  z-index: 99;
  overflow: hidden;
  padding-left: 30px;
  transition: all 0.5s;
}
.fixed-top .menu-arrow[data-v-a4a93748] {
  display: block;
  position: fixed;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  right: 25px;
  top: 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}

.conent[data-v-c9cceaae] {
  width: 100%;
}
.conent .fixed-menu[data-v-c9cceaae] {
  width: 100%;
  height: 80px;
  align-items: center;
  cursor: pointer;
}
.conent .fixed-menu > .active[data-v-c9cceaae] {
  font-weight: bold;
  border-bottom: 1px solid;
}
.conent .fixed-menu > div[data-v-c9cceaae]:last-child {
  margin-right: 0;
}
.conent > .viewer-photo[data-v-c9cceaae] {
  width: 100%;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.conent > .viewer-photo .soul[data-v-c9cceaae] {
  width: calc((100% - 30px) / 3);
  aspect-ratio: 16/9;
  border-radius: 4px;
  transition: all 0.5s ease;
  cursor: pointer;
  will-change: transform;
  transform: translateZ(0);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.conent > .viewer-photo .soul img[data-v-c9cceaae] {
  transform: translateZ(0);
  will-change: transform;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  /* 关键：保持比例填充 */
  -o-object-position: center;
     object-position: center;
  /* 智能居中裁剪 */
  transition: transform 1s ease;
  /* 悬停动效 */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome/Safari */
}
.conent > .viewer-photo .soul:hover img[data-v-c9cceaae] {
  transform: scale(1.5);
}
.conent > .viewer-photo > .soul[data-v-c9cceaae]:nth-child(3n) {
  margin-right: 0;
}
.menu-mobile[data-v-c9cceaae] {
  position: fixed;
  right: 10px;
  top: 15px;
  z-index: 99;
}
.menu-mobile[data-v-c9cceaae] .ivu-select {
  color: #ffffff !important;
}
.menu-mobile[data-v-c9cceaae] .ivu-select .ivu-select-selection {
  background-color: transparent !important;
  border: 0 !important;
  color: #333333 !important;
}
.menu-mobile[data-v-c9cceaae] .ivu-select .ivu-select-selection i {
  color: #333333 !important;
}
@media screen and (max-width: 751px) {
.conent-true[data-v-c9cceaae] {
    padding-top: 0;
}
.conent-true .menu[data-v-c9cceaae] {
    width: 100%;
    position: static;
    margin-bottom: 0.1rem; /*origin: 10px*/
}
.conent-true .viewer-photo .soul[data-v-c9cceaae] {
    width: 100%;
    height: auto;
    margin: 0 0 0.1rem 0; /*origin: 0 0 10px 0*/
}
.conent-true .viewer-photo .soul img[data-v-c9cceaae] {
    height: auto;
}
}

