.content-list > .flex[data-v-74af49b6] {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  justify-content: space-between;
  align-items: flex-start;
}
.content-list > .flex .list-left[data-v-74af49b6] {
  width: calc(100% - 310px);
  cursor: pointer;
}
.content-list > .flex .list-left > div[data-v-74af49b6]:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
.content-list > .flex .list-left > div[data-v-74af49b6]:nth-child(2) {
  line-height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.content-list > .flex .list-right[data-v-74af49b6] {
  width: 185px;
  height: 125px;
  overflow: hidden;
}
.content-list > .flex .list-right img[data-v-74af49b6] {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.conent[data-v-286d5f86] {
  width: 100%;
}
.conent .content-condition[data-v-286d5f86] {
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
}
.conent .content-page[data-v-286d5f86] {
  justify-content: center;
}

