.flex[data-v-65c85f19] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.demo[data-v-65c85f19] {
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
}
.demo > div[data-v-65c85f19] {
  width: 50%;
  height: 100%;
  overflow: auto;
}
.demo > div[data-v-65c85f19]:nth-child(1) {
  border-right: 1px solid #dddddd;
}
.calendar-component[data-v-65c85f19] {
  width: 560px;
  margin: 20px auto;
}
.calendar-component .calendar-component-week[data-v-65c85f19] {
  border: 1px solid #dddddd;
  border-bottom: 0;
  display: flex;
  align-items: center;
}
.calendar-component .calendar-component-week .calendar-component-week-content[data-v-65c85f19] {
  width: calc(100% / 7);
  height: 50px;
  line-height: 50px;
  background: linear-gradient(180deg, #dddddd 0%, rgba(255, 255, 255, 0) 100%);
  font-family: SF Pro;
  font-weight: 700;
  color: #333333;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #dddddd;
}
.calendar-component .calendar-component-week > .calendar-component-week-content[data-v-65c85f19]:last-child {
  border-right: 0;
}
.calendar-component .calendar-component-days[data-v-65c85f19] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #dddddd;
  border-bottom: 0;
}
.calendar-component .calendar-component-days .calendar-component-content[data-v-65c85f19] {
  width: calc(100% / 7);
  height: 80px;
  border-bottom: 1px solid #dddddd;
  position: relative;
  border-right: 1px solid #dddddd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-component .calendar-component-days .calendar-component-content .calendar-component-day[data-v-65c85f19] {
  width: 35px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  font-family: SF Pro;
  color: rgba(153, 153, 153, 0.2);
  font-size: 20px;
}
.calendar-component .calendar-component-days .calendar-component-content .calendar-checked[data-v-65c85f19] {
  width: 23px;
  height: 23px;
}
.calendar-component .calendar-component-days .calendar-component-disabled[data-v-65c85f19] {
  background-color: rgba(238, 238, 238, 0.5);
  cursor: no-drop;
}
.calendar-component .calendar-component-days > .calendar-component-content[data-v-65c85f19]:nth-child(7n) {
  border-right: 0;
}

