.conent[data-v-5abb9830] {
  width: 100%;
}
.conent .content-tool-list .tool-top[data-v-5abb9830] {
  font-weight: bold;
  margin-top: -15px;
}
.conent .content-tool-list .tool-bot[data-v-5abb9830] {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}
.conent .content-tool-list .tool-bot > .flex[data-v-5abb9830] {
  width: calc((100% - 45px) / 4);
  height: 100px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(60, 114, 139, 0.03);
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;
  will-change: transform;
  transform: translateZ(0);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  align-items: center;
  margin: 0 15px 15px 0;
}
.conent .content-tool-list .tool-bot > .flex .tool-left[data-v-5abb9830] {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.conent .content-tool-list .tool-bot > .flex .tool-left > div[data-v-5abb9830] {
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}
.conent .content-tool-list .tool-bot > .flex .tool-left img[data-v-5abb9830] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* 关键：保持比例填充 */
  -o-object-position: center;
     object-position: center;
  /* 智能居中裁剪 */
  transition: transform 1s ease;
  /* 悬停动效 */
}
.conent .content-tool-list .tool-bot > .flex .tool-right[data-v-5abb9830] {
  width: calc(100% - 65px);
}
.conent .content-tool-list .tool-bot > .flex .tool-right > div[data-v-5abb9830]:nth-child(1) {
  font-weight: 500;
  font-size: 16px;
}
.conent .content-tool-list .tool-bot > .flex .tool-right > div[data-v-5abb9830]:nth-child(2) {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.4;
}
.conent .content-tool-list .tool-bot > .flex[data-v-5abb9830]:nth-child(4n) {
  margin-right: 0;
}
@media screen and (max-width: 751px) {
.conent .content-tool-list .tool-bot > .flex[data-v-5abb9830] {
    width: 100%;
    margin: 0 0 10px 0;
}
.content-tool-list-true > .flex[data-v-5abb9830] {
    width: 100%;
    height: 2rem; /*origin: 200px*/;
    padding: 0.12rem; /*origin: 12px*/;
    border-radius: 0.12rem; /*origin: 12px*/;
    margin: 0 0 0.1rem 0; /*origin: 0 0 10px 0*/
}
.content-tool-list-true > .flex .tool-left[data-v-5abb9830] {
    width: 1.5rem; /*origin: 150px*/;
    height: 1.5rem; /*origin: 150px*/
}
.content-tool-list-true > .flex .tool-left > div[data-v-5abb9830] {
    line-height: 1.5rem; /*origin: 150px*/
}
.content-tool-list-true > .flex .tool-right[data-v-5abb9830] {
    width: calc(100% - 1.65rem); /*origin: calc(100% - 165px)*/
}
.content-tool-list-true > .flex .tool-right > div[data-v-5abb9830]:nth-child(1) {
    font-size: 0.16rem; /*origin: 16px*/
}
.content-tool-list-true > .flex .tool-right > div[data-v-5abb9830]:nth-child(2) {
    font-size: 0.12rem; /*origin: 12px*/
}
}

.fixed-top > .menu[data-v-a4a93748] {
  display: block;
  width: calc(100% - 220px);
  animation: expandHeight 5s forwards;
  /* 持续5秒，保留最终状态 */
  position: fixed;
  right: 0;
  top: 0;
  padding: 0 15px;
  align-items: center;
  z-index: 99;
  overflow: hidden;
  padding-left: 30px;
  transition: all 0.5s;
}
.fixed-top .menu-arrow[data-v-a4a93748] {
  display: block;
  position: fixed;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  right: 25px;
  top: 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}

.conent[data-v-c2905862] {
  width: 100%;
  position: relative;
}
.conent .menu-mobile[data-v-c2905862] {
  position: fixed;
  right: 10px;
  top: 15px;
  z-index: 99;
}
.conent .menu-mobile[data-v-c2905862] .ivu-select {
  color: #ffffff !important;
}
.conent .menu-mobile[data-v-c2905862] .ivu-select .ivu-select-selection {
  background-color: transparent !important;
  border: 0 !important;
  color: #333333 !important;
}
.conent .menu-mobile[data-v-c2905862] .ivu-select .ivu-select-selection i {
  color: #333333 !important;
}
.conent .fixed-menu[data-v-c2905862] {
  width: 100%;
  height: 80px;
  align-items: center;
  cursor: pointer;
}
.conent .fixed-menu > .active[data-v-c2905862] {
  font-weight: bold;
  border-bottom: 1px solid;
}
.conent .fixed-menu > div[data-v-c2905862]:last-child {
  margin-right: 0;
}

