.info-detail[data-v-c1acb40c] {
  padding: 15px 0;
}
.info-detail .info-detail-content[data-v-c1acb40c] {
  width: 1000px;
  min-height: calc(100vh - 30px);
  margin: 0 auto;
  border-radius: 4px;
  padding: 30px;
  box-shadow: 0px 10px 24px 0 rgba(111, 162, 226, 0.06);
}
.info-detail .info-detail-content .info-title[data-v-c1acb40c] {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
.info-detail .info-detail-content[data-v-c1acb40c] .info-views {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}
.info-detail .info-detail-content[data-v-c1acb40c] .info-views .content-text {
  line-height: 50px;
}
.info-detail .info-detail-content[data-v-c1acb40c] .info-views .text-hr {
  width: 100%;
  margin: 30px 0;
}
.info-detail .info-detail-content[data-v-c1acb40c] .info-views .code-block {
  overflow-x: auto;
  /* 横向滚动条（长代码适用） */
  margin: -20px auto;
  position: relative;
}
.info-detail .info-detail-content[data-v-c1acb40c] .info-views .code-block code {
  border-radius: 4px;
  margin-bottom: -50px;
}
.info-detail .info-detail-content[data-v-c1acb40c] .info-views .code-block .copy-code {
  position: absolute;
  right: 10px;
  top: 40px;
  z-index: 999;
  cursor: pointer;
  width: 50px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 4px;
  background-color: #ededed;
  color: #333333;
}
.info-detail .info-detail-content[data-v-c1acb40c] .info-views img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}
.info-detail .info-detail-content[data-v-c1acb40c] .info-views .toolTable tr th {
  border: 1px solid #ccc;
}
.info-detail .info-detail-content[data-v-c1acb40c] .info-views .toolTable tr > td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #ccc;
  border-top: 0;
}
.info-detail .info-detail-content[data-v-c1acb40c] .info-views .toolTable tr > td:first-child {
  border-right: 0;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 751px) {
.info-detail-true[data-v-c1acb40c] {
    padding: 0;
}
.info-detail-true .info-detail-content[data-v-c1acb40c] {
    width: 100%;
    padding: 0.2rem; /*origin: 20px*/
}
.info-detail-true .info-detail-content .info-title[data-v-c1acb40c] {
    font-size: 0.22rem; /*origin: 22px*/;
    margin-bottom: 0.15rem; /*origin: 15px*/
}
.info-detail-true .info-detail-content .info-views[data-v-c1acb40c] {
    font-size: 0.15rem; /*origin: 15px*/;
    line-height: 0.28rem; /*origin: 28px*/
}
.info-detail-true .info-detail-content .info-views .content-text[data-v-c1acb40c] {
    line-height: 0.3rem; /*origin: 30px*/
}
.info-detail-true .info-detail-content .info-views .code-block[data-v-c1acb40c] {
    margin: -0.2rem auto -0.75rem auto; /*origin: -20px auto -75px auto*/
}
.info-detail-true .info-detail-content .info-views .code-block code[data-v-c1acb40c] {
    margin-bottom: 0rem; /*origin: 0px*/
}
.info-detail-true .info-detail-content .info-views .text-hr[data-v-c1acb40c] {
    margin: 0.3rem 0; /*origin: 30px 0*/
}
.info-detail-true .info-detail-content .info-views img[data-v-c1acb40c] {
    width: 100%;
}
}
*[data-v-c1acb40c] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex[data-v-c1acb40c] {
  display: flex;
}
body[data-v-c1acb40c] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-size: 14px;
}
/* 定义滚动条的宽度 */
/* 悬停时滚动条容器变宽 */
[data-v-c1acb40c]::-webkit-scrollbar:hover {
  width: 8px !important;
  /* 强制覆盖默认值 */
}
/* 滚动条轨道的颜色 */
[data-v-c1acb40c]::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
  /* 添加圆角避免宽度突变生硬 */
}
/* 滚动条的颜色 */
[data-v-c1acb40c]::-webkit-scrollbar-thumb {
  background: #888;
  border: 2px solid transparent;
  /* 预留透明边框 */
  background-clip: padding-box;
  /* 限制背景绘制区域 */
  -webkit-transition: background 0.3s, border 0.3s;
  transition: background 0.3s, border 0.3s;
}
/* 滚动条悬停时的颜色 */
[data-v-c1acb40c]::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-color: #f1f1f1;
  /* 轨道颜色作为边框色实现平滑过渡 */
}
@font-face {
  font-family: myFont;
  src: url("../assets/Vladimir%20Script.c3285673.ttf");
}
.m-l-5[data-v-c1acb40c] {
  margin-left: 5px;
}
.m-l-10[data-v-c1acb40c] {
  margin-left: 10px;
}
.m-l-15[data-v-c1acb40c] {
  margin-left: 15px;
}
.m-l-20[data-v-c1acb40c] {
  margin-left: 20px;
}
.m-r-5[data-v-c1acb40c] {
  margin-right: 5px;
}
.m-r-10[data-v-c1acb40c] {
  margin-right: 10px;
}
.m-r-15[data-v-c1acb40c] {
  margin-right: 15px;
}
.m-r-20[data-v-c1acb40c] {
  margin-right: 20px;
}
.m-t-5[data-v-c1acb40c] {
  margin-top: 5px;
}
.m-t-10[data-v-c1acb40c] {
  margin-top: 10px;
}
.m-t-15[data-v-c1acb40c] {
  margin-top: 15px;
}
.m-t-20[data-v-c1acb40c] {
  margin-top: 20px;
}
.m-b-5[data-v-c1acb40c] {
  margin-bottom: 5px;
}
.m-b-10[data-v-c1acb40c] {
  margin-bottom: 10px;
}
.m-b-15[data-v-c1acb40c] {
  margin-bottom: 15px;
}
.m-b-20[data-v-c1acb40c] {
  margin-bottom: 20px;
}
.p-r-5[data-v-c1acb40c] {
  padding-right: 5px;
}
.p-r-10[data-v-c1acb40c] {
  padding-right: 10px;
}
.p-r-15[data-v-c1acb40c] {
  padding-right: 15px;
}
.p-r-20[data-v-c1acb40c] {
  padding-right: 20px;
}
.p-l-5[data-v-c1acb40c] {
  padding-left: 5px;
}
.p-l-10[data-v-c1acb40c] {
  padding-left: 10px;
}
.p-l-15[data-v-c1acb40c] {
  padding-left: 15px;
}
.p-l-20[data-v-c1acb40c] {
  padding-left: 20px;
}
.p-t-5[data-v-c1acb40c] {
  padding-top: 5px;
}
.p-t-10[data-v-c1acb40c] {
  padding-top: 10px;
}
.p-t-15[data-v-c1acb40c] {
  padding-top: 15px;
}
.p-t-20[data-v-c1acb40c] {
  padding-top: 20px;
}
.p-b-5[data-v-c1acb40c] {
  padding-bottom: 5px;
}
.p-b-10[data-v-c1acb40c] {
  padding-bottom: 10px;
}
.p-b-15[data-v-c1acb40c] {
  padding-bottom: 15px;
}
.p-b-20[data-v-c1acb40c] {
  padding-bottom: 20px;
}
.theme-highlight .home-page-left[data-v-c1acb40c] {
  color: #515a6e !important;
  background-image: linear-gradient(to bottom right, #f1f4ff, #f2edf7) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}
.theme-highlight .home-page-left .home-page-left-list .active[data-v-c1acb40c] {
  color: #515a6e !important;
}
.theme-highlight .home-page-left .home-page-left-list > .flex[data-v-c1acb40c]:hover {
  color: #515a6e !important;
}
.theme-highlight .home-page-right[data-v-c1acb40c] {
  color: #515a6e !important;
  background-image: linear-gradient(to bottom right, #f1f4ff, #f2edf7) !important;
}
.theme-highlight .home-page-right .conent[data-v-c1acb40c] {
  color: #515a6e !important;
}
.theme-highlight .home-page-right .conent .text-color[data-v-c1acb40c] {
  color: #515a6e !important;
}
.theme-highlight .home-page-right .conent .ivu-input[data-v-c1acb40c] {
  background-color: hsla(0, 0%, 100%, 0.6) !important;
}
.theme-highlight .home-page-right .tool-left[data-v-c1acb40c] {
  background: linear-gradient(135deg, rgba(255, 107, 107, 0.35), rgba(78, 205, 196, 0.35));
}
.theme-highlight .home-page-right .content-back-color[data-v-c1acb40c] {
  background-color: hsla(0, 0%, 100%, 0.6) !important;
  border: 1px solid #ffffff !important;
}
.theme-highlight .ivu-switch-inner[data-v-c1acb40c] {
  color: #515a6e !important;
}
.theme-highlight .content-back-color[data-v-c1acb40c] {
  color: #515a6e;
  background-image: linear-gradient(to bottom right, #f1f4ff, #f2edf7) !important;
  border: 1px solid dddddd !important;
}
.theme-highlight .info-detail-content[data-v-c1acb40c] {
  border: 1px solid #dddddd;
}
.theme-highlight .text-hr[data-v-c1acb40c] {
  border-top: 1px solid #dddddd;
}
.theme-highlight .conent .menu[data-v-c1acb40c] {
  color: #333333;
  background-image: linear-gradient(to bottom right, rgba(241, 244, 255, 0.8), rgba(242, 237, 247, 0.85));
}
.theme-highlight .conent .menu > div:first-child > .active[data-v-c1acb40c] {
  border-bottom-color: #333333;
}
.theme-highlight .conent .menu-arrow[data-v-c1acb40c] {
  color: #333333;
  background: rgba(255, 255, 255, 0.8);
}
.theme-dark .home-page-left[data-v-c1acb40c] {
  color: #ffffff !important;
  background-image: linear-gradient(to bottom right, #141e30, #243b55) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}
.theme-dark .home-page-left .home-page-left-list .active[data-v-c1acb40c] {
  color: #515a6e !important;
}
.theme-dark .home-page-left .home-page-left-list > .flex[data-v-c1acb40c]:hover {
  color: #515a6e !important;
}
.theme-dark .home-page-right[data-v-c1acb40c] {
  color: #ffffff !important;
  background-image: linear-gradient(to bottom right, #141e30, #243b55) !important;
}
.theme-dark .home-page-right .conent[data-v-c1acb40c] {
  color: #ffffff !important;
}
.theme-dark .home-page-right .conent .text-color[data-v-c1acb40c] {
  color: #ffffff !important;
}
.theme-dark .home-page-right .conent .ivu-input[data-v-c1acb40c] {
  background-color: rgba(49, 61, 82, 0.32) !important;
}
.theme-dark .home-page-right .tool-left[data-v-c1acb40c] {
  background: linear-gradient(135deg, #3494e6, #ec6ead);
}
.theme-dark .home-page-right .content-back-color[data-v-c1acb40c] {
  background-color: rgba(49, 61, 82, 0.32) !important;
  border: 1px solid #ffffff29 !important;
}
.theme-dark .ivu-switch-inner[data-v-c1acb40c] {
  color: #ffffff !important;
}
.theme-dark .content-back-color[data-v-c1acb40c] {
  color: #ffffff;
  background-image: linear-gradient(to bottom right, #141e30, #243b55) !important;
  border: 0 !important;
}
.theme-dark .info-detail-content[data-v-c1acb40c] {
  border: 0;
  box-shadow: 0px 0px 24px 0 #ffffff;
}
.theme-dark .text-hr[data-v-c1acb40c] {
  border-top: 1px solid #ffffff;
}
.theme-dark .conent .menu[data-v-c1acb40c] {
  color: #ffffff;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35));
}
.theme-dark .conent .menu > div:first-child > .active[data-v-c1acb40c] {
  border-bottom-color: #ffffff;
}
.theme-dark .conent .menu-arrow[data-v-c1acb40c] {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
}

