.home-page .home-page-left[data-v-c3b18a24] {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 220px;
  padding: 0 0 20px 0;
  background-size: cover;
  position: fixed;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 100;
}
.home-page .home-page-left .home-page-left-title[data-v-c3b18a24] {
  font-weight: bold;
  font-size: 45px;
  font-family: myFont;
  text-align: center;
  height: 75px;
  line-height: 65px;
  flex-shrink: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.home-page .home-page-left .home-page-left-list > .flex[data-v-c3b18a24] {
  align-items: center;
  padding: 8px 20px 8px 30px;
  margin: 12px 0;
  cursor: pointer;
}
.home-page .home-page-left .home-page-left-list > .flex img[data-v-c3b18a24] {
  width: 20px;
  margin-right: 10px;
}
.home-page .home-page-left .home-page-left-list > .flex[data-v-c3b18a24]:hover {
  font-weight: bold;
  background-color: #ffffff;
}
.home-page .home-page-left .home-page-left-list > .active[data-v-c3b18a24] {
  font-weight: bold;
  background-color: #ffffff;
}
.home-page .home-page-left .home-page-left-list > .active .dark-img[data-v-c3b18a24] {
  display: none !important;
}
.home-page .home-page-left[data-v-c3b18a24]::-webkit-scrollbar {
  width: 0;
}
.home-page .home-page-right[data-v-c3b18a24] {
  flex: 1 1;
  margin-left: 220px;
  height: 100vh;
  padding: 15px;
  transition: margin-left 0.3s ease;
  will-change: margin-left;
  backface-visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}
.home-page .home-page-blog-img[data-v-c3b18a24] {
  display: none;
  margin: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* 关键：保持比例填充 */
}
.home-page .home-mobile-top[data-v-c3b18a24] {
  display: none;
  width: calc(100% - 10px);
  height: 50px;
  padding: 0 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: 99;
}
.home-page .home-mobile-top .mobile-menu-button[data-v-c3b18a24] {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.home-page .mobile-menu-list[data-v-c3b18a24] {
  position: fixed;
  left: -150px;
  /* 初始隐藏在左侧 */
  top: 0;
  width: 150px;
  height: 100vh;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  /* 平滑过渡动画 */
  z-index: 999;
}
.home-page .mobile-menu-list > .flex[data-v-c3b18a24] {
  align-items: center;
  padding: 8px 20px;
  margin: 12px 0;
  border-radius: 8px;
  cursor: pointer;
}
.home-page .mobile-menu-list > .flex img[data-v-c3b18a24] {
  width: 20px;
  margin-right: 10px;
}
.home-page .mobile-menu-list > .flex[data-v-c3b18a24]:hover {
  font-weight: bold;
  background-color: #ffffff;
}
.home-page .mobile-menu-list > .active[data-v-c3b18a24] {
  font-weight: bold;
  background-color: #ffffff;
}
.home-page .mobile-menu-list > .active .dark-img[data-v-c3b18a24] {
  display: none !important;
}
.home-page .mobile-menu-list.active[data-v-c3b18a24] {
  transform: translateX(150px);
}
.home-page .mask-back[data-v-c3b18a24] {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
}
.home-page .mask-back.active[data-v-c3b18a24] {
  display: block;
}
.home-page .back-top[data-v-c3b18a24] {
  padding: 0;
  background: rgba(0, 153, 229, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
.home-page .back-top i[data-v-c3b18a24] {
  padding: 6px !important;
}
.home-page .fade-enter-active[data-v-c3b18a24],
.home-page .fade-leave-active[data-v-c3b18a24] {
  transition: opacity 0.3s;
}
.home-page .fade-enter[data-v-c3b18a24],
.home-page .fade-leave-to[data-v-c3b18a24] {
  transition: all;
  opacity: 0;
}
.home-page .skin-peeler[data-v-c3b18a24] {
  width: 56px;
  height: 22px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 999;
  cursor: pointer;
}
@media screen and (max-width: 751px) {
.home-page[data-v-c3b18a24] {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.home-page .home-page-left[data-v-c3b18a24] {
    display: none;
}
.home-page .home-mobile-top[data-v-c3b18a24] {
    display: block;
}
.home-page .home-page-blog-img[data-v-c3b18a24] {
    display: block;
}
.home-page .home-page-right[data-v-c3b18a24] {
    min-width: 100%;
    margin-left: 0;
    height: auto;
    padding: 15px;
    min-height: calc(100vh - 150px);
}
.home-page .mobile-menu-list > .active[data-v-c3b18a24] {
    font-weight: bold;
    background-color: rgba(0, 153, 229, 0.5);
    color: #fff;
    border-radius: 0;
}
}

