.conent .module[data-v-7b4c99ac] {
  flex-wrap: wrap;
}
.conent .module .module-content[data-v-7b4c99ac] {
  width: calc((100% - 45px) / 4);
  height: calc((100vh - 45px) / 2);
  padding: 35px 25px;
  background-color: hsla(0, 0%, 100%, 0.6);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(60, 114, 139, 0.03);
  transition: all 0.2s ease;
  cursor: pointer;
  will-change: transform;
  transform: translateZ(0);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: 1px solid #fff;
  margin: 0 15px 15px 0;
  position: relative;
}
.conent .module .module-content .module-content-top[data-v-7b4c99ac] {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.conent .module .module-content .module-content-top img[data-v-7b4c99ac] {
  width: 65px;
}
.conent .module .module-content .module-content-top .count-up-span[data-v-7b4c99ac] {
  font-size: 45px;
  font-weight: bold;
}
.conent .module .module-content .module-content-bot[data-v-7b4c99ac] {
  padding-left: 15px;
  height: calc(100% - 87.5px);
}
.conent .module .module-content .module-content-bot > div[data-v-7b4c99ac]:nth-child(1) {
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.conent .module .module-content .module-content-bot > div:nth-child(1) .page-name[data-v-7b4c99ac] {
  font-size: 16px;
}
.conent .module .module-content .module-content-bot > div:nth-child(1) .page-num[data-v-7b4c99ac] {
  font-size: 20px;
}
.conent .module .module-content .module-content-bot > div[data-v-7b4c99ac]:nth-child(2) {
  height: calc(100% - 34px);
  line-height: 30px;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  /* 控制显示行数 */
  line-height: 1.5;
  /* 根据行高调整行数 */
  word-break: break-all;
  /* 强制长单词换行 */
  text-overflow: ellipsis;
}
.conent .module .module-content .module-content-button[data-v-7b4c99ac] {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 20px;
  padding-right: 20px;
  justify-content: flex-end;
}
.conent .module .module-content .module-content-button > div[data-v-7b4c99ac] {
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  background: linear-gradient(180deg, #3bc0ac 0%, #12867f 100%);
  box-shadow: 0px 0px 6px rgba(0, 120, 113, 0.2);
}
.conent .module .module-content[data-v-7b4c99ac]:nth-child(4n) {
  margin-right: 0;
}
.conent .module .module-content[data-v-7b4c99ac]:nth-child(5),
.conent .module .module-content[data-v-7b4c99ac]:nth-child(6),
.conent .module .module-content[data-v-7b4c99ac]:nth-child(7),
.conent .module .module-content[data-v-7b4c99ac]:nth-child(8) {
  margin-bottom: 0;
}
@media screen and (max-width: 751px) {
.conent .module .module-content-true[data-v-7b4c99ac] {
    width: 100%;
    height: 1.5rem; /*origin: 150px*/;
    margin: 0 0 0.1rem 0; /*origin: 0 0 10px 0*/;
    padding: 0.15rem; /*origin: 15px*/
}
.conent .module .module-content-true .module-content-top[data-v-7b4c99ac] {
    padding-left: 0.15rem; /*origin: 15px*/
}
.conent .module .module-content-true .module-content-top img[data-v-7b4c99ac] {
    width: 0.4rem; /*origin: 40px*/
}
.conent .module .module-content-true .module-content-top .count-up-span[data-v-7b4c99ac] {
    font-size: 0.35rem; /*origin: 35px*/
}
.conent .module .module-content-true .module-content-bot[data-v-7b4c99ac] {
    height: auto;
}
.conent .module .module-content-true[data-v-7b4c99ac]:nth-child(5),
  .conent .module .module-content-true[data-v-7b4c99ac]:nth-child(6),
  .conent .module .module-content-true[data-v-7b4c99ac]:nth-child(7),
  .conent .module .module-content-true[data-v-7b4c99ac]:nth-child(8) {
    margin-bottom: 0.1rem; /*origin: 10px*/
}
}

